[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
sendgrid = "*"
fastapi = "*"
uvicorn = "*"
pandas = "*"
scikit-learn = "*"
evaluate = "*"
transformers = {extras = ["torch"], version = "*"}
accelerate = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
